/.idea
/venv
/src\__pycache__


Machine Learning/src/final_model_for_BTC-USD/
Machine Learning/src/final_model_for_DOGE-USD/
Machine Learning/src/final_model_for_ETH-USD/
Machine Learning/src/final_model_for_LTC-USD/
Machine Learning/src/final_model_for_XRP-USD/